# Build directories
/build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
Makefile
compile_commands.json
CTestTestfile.cmake
Testing/

# CLion / JetBrains
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.swp
*~

# Binaries
logx
